.content {
  background-color: #1d1d1d;
  height: 100vh;
  color: white;
}

.text {
  color: #d4d4d4;
  font-size: 8vh;
  font-family: "Comic Sans MS";
  cursor: pointer;
}

.cursor-title {
  color: orange !important;
}

.cursor-content {
  color: #12efcd !important;
}

.text-content {
  color: #d4d4d4;
  font-family: "Comic Sans MS";
  line-height: 1.6;
}

.aboutTextLinks {
  color: #12efcd;
  transition: transform 250ms;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.aboutTextLinks:hover {
  color: #12efcd;
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .aboutTextLinks {
    display: inline;
  }
}

.rohithPic {
  max-width: 275px;
  max-height: 275px;
  border-radius: 5%;
  box-shadow: 12px 12px 0 0 #12efcec2;
  transition: box-shadow ease-in 150ms;
}

.rohithPic:hover {
  box-shadow: 8px 8px 0 0 #12efcec2;
}
