.text-content {
  color: #e0e0e0;
  font-family: "Comic Sans MS";
  font-size: 1.1em;
  line-height: 1.5;
}

.aboutTextLinks {
  color: #12efcd;
  transition: transform 250ms;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.aboutTextLinks:hover {
  color: #12efcd;
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .aboutTextLinks {
    display: inline;
  }
}

.rohithPic {
  max-width: 275px;
  max-height: 275px;
  border-radius: 5%;
  box-shadow: 12px 12px 0 0 #12efcec2;
  transition: box-shadow ease-in 150ms;
}

.rohithPic:hover {
  box-shadow: 8px 8px 0 0 #12efcec2;
}
