.content {
  background-color: #1d1d1d;
  height: 100vh;
  color: white;
}

.text {
  color: #d4d4d4;
  font-size: 8vh;
  font-family: "Comic Sans MS";
  cursor: pointer;
}

.cursor {
  color: orange !important;
}

a.social {
  color: #7d8984;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  color: #12efcd;
  transform: scale(1.5);
}

.smiley {
  font-family: "Verdana";
  font-size: 9vh;
  transition: transform 250ms;
  display: inline-block;
}

.smiley:hover {
  color: #12efcd;
  transform: scale(1.5);
}
