a.social {
  color: #9fa5a2;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  color: #12efcd;
  transform: scale(1.5);
}

.smiley {
  font-family: "Verdana";
  font-size: 9vh;
  transition: transform 250ms;
  display: inline-block;
}

.smiley:hover {
  color: #12efcd;
  transform: scale(1.5);
}
